<?xml version="1.0"?>
<launch>
<!-- 
    <inlcude file="$(find easy_handeye)/launch/publish.launch"> 
        <param name="namespace_prefix" value="ur10e_calib"/>
        <param name="eye_on_hand" value="true" />
    </inlcude> -->
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch" />
    <include file="$(find ur10e_moveit_config)/launch/moveit_planning_execution.launch" />
    <include file="$(find ur10e_moveit_config)/launch/moveit_rviz.launch" />


</launch>